[submodule "libjpeg-turbo"]
	path = jni/vendor/libjpeg-turbo
	url = https://github.com/openstf/android-libjpeg-turbo.git

[submodule "libevdev"]
	path = jni/vendor/libevdev/source
	url = git://anongit.freedesktop.org/libevdev

[submodule "ffmpeg"]
	path = jni/vendor/ffmpeg/source
	url = https://git.ffmpeg.org/ffmpeg.git
